<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>198732843805-lp9gdjlc5th3ms7sksn3hu7j0l4864pd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.198732843805-lp9gdjlc5th3ms7sksn3hu7j0l4864pd</string>
	<key>API_KEY</key>
	<string>AIzaSyCwsBRfBppUl-OoBzdBFwCeJHqAMSZBLGA</string>
	<key>GCM_SENDER_ID</key>
	<string>198732843805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hasancangunes.HCG</string>
	<key>PROJECT_ID</key>
	<string>hcgapp-6d397</string>
	<key>STORAGE_BUCKET</key>
	<string>hcgapp-6d397.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198732843805:ios:f74b127abcc74f549feff4</string>
</dict>
</plist>